<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app.krishishop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:node="merge">
        <activity
            android:name="com.example.app.krishishop.SellHistory"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop"/>
        <activity
            android:name="com.example.app.krishishop.TotalSellActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ProductHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ViewOrder"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.DeliveryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.AdminShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ChatBotActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.CityFinderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.WeatherActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.CartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ViewResellerProduct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ViewFarmingProduct"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.BlankUserActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.FarmerShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.ResellerShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.FarmerLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.FarmerRegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.ResellerLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.ResellerRegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.ShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" />
        <activity
            android:name="com.example.app.krishishop.Forgotpassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.ChoicesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app.krishishop.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.app.krishishop.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.app.krishishop.BuyNowActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Krishishop" /> <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_nzlMAByiktQ47R" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>